extends layout.pug

block content
	header.header
		div.container
			div.row.header-text-wrap 
				h1 Socket Chat
	div.container
		div.row.messages
		div.row
			form#message-form
				input(type="text", placeholder="Message", name="message")
				input(type="submit", value="submit")